* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: #fff;
}

.mt30_mobile {
    margin-top: 30px;
}

.mb20_mobile {
    margin-bottom: 20px;
}

.mt10_mobile {
    margin-top: 10px;
}

.mt15_mobile {
    margin-top: 15px !important;
}

.pad_mobile {
    padding: 20px!important;
    /* background: red!important; */
    line-height: 30px;
}

body {
    font-family: myFont;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    color: rgba(43, 41, 58, 1);
    /* background: red; */
    text-align: center;
}

h2::after {
    margin-left: 10px;
    margin-top: -10px;
    content: '';
    display: inline-block;
    width: 11px;
    height: 17px;
    background: url('../image/icon_sub.png') no-repeat;
    background-size: 11px 10px;
}

/*** header ***/
div.header {
    /* min-width: 1200px; */
    background: url('../image/banner.png') no-repeat center top;
    background-size: auto 240px;
}

div.header div.top {
    height: 270px;
    /* width: 1200px; */
    /* background: red; */
    margin: 0 auto;
}

div.header div.top div.logo {
    float: left;
    padding-top: 25px;
    padding-left: 15px;
}

div.header div.top div.logo img {
    width: 70px;
}

div.header div.top div.list {
    display: none;
    float: right;
    /* background: green; */
    padding-top: 60px;
}

div.header div.top div.list div.item {
    float: left;
    margin-right: 25px;
}

div.header div.top div.list div.item a {
    font-size: 20px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}

div.header div.top div.list_mobile {
    float: right;
    margin-right: 15px;
}

div.header div.top div.list_mobile div.meun {
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 10px;
    /* background: red; */
    text-align: right;
}

div.header div.top div.list_mobile div.meun img {
    width: 20px;
}

div.header div.top div.list_mobile ul {
    background: #FFF;
    text-align: center;
    /* padding: 5px 0; */
    border-radius: 5px;
    overflow: hidden;
    padding-top: 3px;
}

div.header div.top div.list_mobile ul li {
    border-bottom: 1px solid #E5E5EB;
    /* padding: 10px 55px; */
}

div.header div.top div.list_mobile ul li a {
    color: #2B293A;
    line-height: 30px;
    font-size: 18px;
    padding: 10px 55px;
    display: block;
}

/*** header end ***/
/*** vision ***/
div.bg1 {
    padding-bottom: 30px;
    background: url('../image/BG_1.png') no-repeat center bottom;
}

div.vision {
    /* width: 1200px; */
    /* margin: 0 auto; */
    /* background: gold; */
}

div.vision div.vision_item {
    width: 100%;
    overflow: auto;
    background: rgba(255, 255, 255, 1);
    /* background: gold; */
    /* box-shadow: -8px 6px 30px 0px rgba(212, 212, 250, 0.2); */
    /* border-radius: 10px; */
    text-align: center;
}

div.vision div.vision_item img {
    margin-top: 25px;
    /* margin-left: 29px; */
    margin-bottom: 20px;
    height: 80px;
}

div.vision div.vision_item div.txt {
    width: 90%;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    color: #6D6C71;
    /* color: rgba(43, 41, 58, 1); */
    line-height: 26px;
    /* text-align: left; */
    /* background: red; */
}

/*** vision end ***/
/*** usdxInfo ***/

div.usdxInfo {
    /* width: 1200px; */
    /* margin: 0 auto; */
}

div.usdxInfo div.leftInfo {
    /* float: left; */
    /* width: 670px; */
    /* background: red; */
}

div.usdxInfo div.leftInfo p {
    width: 90%;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    color: #6D6C71;
    line-height: 26px;
    /* background: red; */
}

div.usdxInfo div.rightImg {
    /* float: right; */
    /* background: green; */
}

div.usdxInfo div.rightImg img {
    width: 70%;
    margin-left: 15%;
}

/*** usdxInfo end ***/
/*** keysItem ***/
div.highLights {
    width: 100%;
    overflow: auto;
    padding: 0 10px;
    /* margin: 0 auto; */
    /* background: green; */
}

div.highLights div.keysItem {
    width: 32%;
    height: 160px;
    float: left;
    margin-right: 2%;
    text-align: center;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 5px 0px rgba(212, 212, 250, 0.3);
    border-radius: 10px;
    /* background: paleturquoise; */
    border: 1px solid rgba(212, 212, 250, 0.3);
}

div.highLights div.keysItem_mobile_nomargin {
    margin-right: 0;
}

div.highLights div.keysItem img {
    margin-top: 18px;
    margin-bottom: 10px;
    height: 40px;
}

div.highLights div.keysItem p.title {
    /* width: 190px; */
    /* margin: 0 auto; */
    font-size: 14px;
    font-weight: 400;
    color: rgba(43, 41, 58, 1);
    line-height: 26px;
}

/*** keysItem end ***/
/*** built ***/
div.built {
    /* width: 1200px; */
    /* margin: 0 auto; */
    /* background: green; */
    overflow: auto;
}

div.built div.builtLeft {
    /* float: left; */
    /* background: pink; */
    /* width: 36%; */
    /* padding-left: 114px; */
    padding-top: 14px;
    text-align: center;
}

div.built div.builtLeft img {
    width: 180px;
    /* margin-left: 7%; */
    /* margin: 0 auto; */
}

div.built div.builtRight {
    /* float: left; */
    /* width: 64%; */
}

/* div.built div.builtRight p.title {
    font-size: 16px;
    font-weight: bold;
    color: rgba(43, 41, 58, 1);
    line-height: 40px;
} */

div.built div.builtRight p.txt {
    font-size: 14px;
    font-weight: 400;
    color: rgba(136, 135, 140, 1);
    padding: 0 15px;
}

/*** built end ***/
/*** Partners ***/
div.bg2 {
    padding-top: 1px;
    padding-bottom: 20px;
    background: url('../image/BG_2.png') no-repeat center -24px;
}

div.partners {
    /* width: 1200px; */
    /* margin: 0 auto; */
    overflow: auto;
    padding: 0 10px;
    /* background: green; */
}

div.partners div.partnersItem {
    width: 32%;
    height: 70px;
    float: left;
    margin-right: 2%;
    /* background: hotpink; */
    position: relative;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(237, 237, 242, 1);
    border-radius: 4px;
}

div.partners div.partnersItem_mobile_nomargin {
    margin-right: 0;
}


div.partners div.partnersItem img {
    width: 90%;
    /* line-height: 100%; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/*** Partners end ***/
/*** developers ***/
div.developers {
    /* width: 1200px; */
    /* margin: 0 auto; */
    overflow: auto;
    padding: 0 10px;
    /* background: green; */
}

div.developers div.developersItem {
    width: 32%;
    float: left;
    margin-right: 2%;
    /* background: hotpink; */
    text-align: center;
    background: rgba(255, 255, 255, 1);
    /* box-shadow: 0px 0px 25px 0px rgba(212, 250, 212, 0.35); */
    border: 1px solid rgba(212, 212, 250, 0.3);
}

div.developers div.developersItem_mobile_nomargin {
    margin-right: 0;
}

div.developers div.developersItem img {
    height: 38px;
    margin-top: 25px;
    margin-bottom: 15px;
}

div.developers div.developersItem div.devName {
    font-size: 16px;
    font-weight: 500;
    color: rgba(43, 41, 58, 1);
}

div.developers div.developersItem div.more {
    padding-top: 10px;
    padding-bottom: 14px;
}

div.developers div.developersItem div.more a {
    font-size: 14px;
    font-weight: 400;
    color: rgba(172, 170, 185, 1);
    background: url('../image/arrow_right.png') no-repeat right center;
    display: inline-block;
    width: 70px;
    background-size: 7px;
    margin-left: -8px;
}

/*** developers end ***/
/*** bottom ***/
div.bottom {
    overflow: auto;
    background: url('../image/bottom_bg.png') no-repeat center top;
}

div.bottom div.image {
    /* background: greenyellow; */
    padding-top: 20px;
    text-align: center;
}

div.bottom div.image a {
    display: inline-block;
    width: 36px;
    /* background: red; */
    margin-right: 10px;
    border-radius: 50%;
}

div.bottom div.image a img {
    width: 100%;
}

div.bottom div.connectMe {
    font-size: 12px;
    font-weight: 400;
    color: rgba(140, 139, 158, 1);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*** bottom end ***/