.mb60 {
    margin-bottom: 60px;
}

.mt100 {
    margin-top: 100px;
}

.mt80 {
    margin-top: 80px;
}

.mt50 {
    margin-top: 50px;
}

.mt54 {
    margin-top: 54px;
}

.mt40 {
    margin-top: 40px;
}

.mt25 {
    margin-top: 25px;
}

.mt15 {
    margin-top: 15px;
}

.mt24 {
    margin-top: 24px;
}

.mt14 {
    margin-top: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: #fff;
}

body {
    /* background: #999; */
    font-family: myFont;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.NoMarginRight {
    margin-right: 0 !important;
}

.clear {
    clear: both;
}

h2 {
    font-size: 42px;
    font-weight: bold;
    color: rgba(43, 41, 58, 1);
    /* background: red; */
    text-align: center;
}

h2::after {
    margin-left: 10px;
    margin-top: -10px;
    content: '';
    display: inline-block;
    width: 22px;
    height: 34px;
    background: url('../image/icon_sub.png') no-repeat;
    background-size: 22px 20px;
}

/*** header ***/
div.header {
    min-width: 1200px;
    background: url('../image/banner.png') no-repeat center top;
}

div.header div.top {
    height: 750px;
    width: 1200px;
    /* background: red; */
    margin: 0 auto;
}

div.header div.top div.logo {
    float: left;
    padding-top: 50px;
}

div.header div.top div.logo img {
    width: 128px;
}

div.header div.top div.list {
    float: right;
    /* background: green; */
    padding-top: 60px;
}

div.header div.top div.list div.item {
    float: left;
    margin-right: 25px;
}

div.header div.top div.list div.item a {
    font-size: 20px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}

div.header div.top div.list_mobile div.meun {
    display: none;
}

/*** header end ***/
/*** vision ***/
div.bg1 {
    padding-bottom: 120px;
    background: url('../image/BG_1.png') no-repeat center bottom;
}

div.vision {
    width: 1200px;
    margin: 0 auto;
    /* background: gold; */
}

div.vision div.vision_item {
    width: 368px;
    height: 370px;
    float: left;
    margin-right: 48px;
    /* background: gold; */
    background: rgba(255, 255, 255, 1);
    box-shadow: -8px 6px 30px 0px rgba(212, 212, 250, 0.2);
    border-radius: 10px;
    /* text-align: center; */
}

div.vision div.vision_item img {
    margin-top: 46px;
    margin-left: 29px;
    margin-bottom: 40px;
    height: 96px;
}

div.vision div.vision_item div.txt {
    width: 310px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 400;
    color: rgba(43, 41, 58, 1);
    line-height: 26px;
    /* text-align: left; */
}

/*** vision end ***/
/*** usdxInfo ***/

div.usdxInfo {
    width: 1200px;
    margin: 0 auto;
}

div.usdxInfo div.leftInfo {
    float: left;
    width: 670px;
    /* background: red; */
}

div.usdxInfo div.leftInfo p {
    font-size: 18px;
    font-weight: 400;
    color: rgba(43, 41, 58, 1);
    line-height: 26px;
}

div.usdxInfo div.rightImg {
    float: right;
    /* background: green; */
}

div.usdxInfo div.rightImg img {
    width: 457px;
}

/*** usdxInfo end ***/
/*** keysItem ***/
div.highLights {
    width: 1200px;
    margin: 0 auto;
    /* background: green; */
}

div.highLights div.keysItem {
    width: 216px;
    height: 200px;
    float: left;
    /* background: paleturquoise; */
    margin-right: 30px;
    text-align: center;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 30px 0px rgba(212, 212, 250, 0.3);
    border-radius: 10px;
}

div.highLights div.keysItem img {
    margin-top: 32px;
    margin-bottom: 15px;
    height: 66px;
}

div.highLights div.keysItem p.title {
    width: 190px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 400;
    color: rgba(43, 41, 58, 1);
    line-height: 26px;
}

/*** keysItem end ***/
/*** built ***/
div.built {
    width: 1200px;
    margin: 0 auto;
    /* background: green; */
}

div.built div.builtLeft {
    float: left;
    /* background: pink; */
    width: 600px;
    padding-left: 114px;
}

div.built div.builtLeft img {
    width: 380px;
}

div.built div.builtRight {
    float: left;
    width: 600px;
}

div.built div.builtRight p.title {
    font-size: 30px;
    font-weight: bold;
    color: rgba(43, 41, 58, 1);
    line-height: 40px;
}

div.built div.builtRight p.txt {
    font-size: 18px;
    font-weight: 400;
    color: rgba(136, 135, 140, 1);
    line-height: 24px;
}

/*** built end ***/
/*** Partners ***/
div.bg2 {
    padding-top: 1px;
    background: url('../image/BG_2.png') no-repeat center -24px;
}

div.partners {
    width: 1200px;
    margin: 0 auto;
    /* background: green; */
}

div.partners div.partnersItem {
    width: 280px;
    height: 150px;
    float: left;
    margin-right: 26px;
    /* background: hotpink; */
    position: relative;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(237, 237, 242, 1);
    border-radius: 4px;
}


div.partners div.partnersItem img {
    /* width: 90%; */
    /* line-height: 100%; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/*** Partners end ***/
/*** developers ***/
div.developers {
    width: 1200px;
    margin: 0 auto;
    /* background: green; */
}

div.developers div.developersItem {
    width: 200px;
    float: left;
    margin-right: 50px;
    /* background: hotpink; */
    text-align: center;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 25px 0px rgba(212, 250, 212, 0.35);
}

div.developers div.developersItem img {
    height: 58px;
    margin-top: 40px;
    margin-bottom: 25px;
}

div.developers div.developersItem div.devName {
    font-size: 24px;
    font-weight: 500;
    color: rgba(43, 41, 58, 1);
}

div.developers div.developersItem div.more {
    padding-top: 15px;
    padding-bottom: 20px
}

div.developers div.developersItem div.more a {
    font-size: 18px;
    font-weight: 400;
    color: rgba(172, 170, 185, 1);
    background: url('../image/arrow_right.png') no-repeat right center;
    display: inline-block;
    width: 100px;
    background-size: 10px;
    margin-left: -15px;
}

/*** developers end ***/
/*** bottom ***/
div.bottom {
    min-width: 1200px;
    height: 230px;
    background: url('../image/bottom_bg.png') no-repeat center top;
}

div.bottom div.image {
    /* background: greenyellow; */
    padding-top: 70px;
    text-align: center;
}

div.bottom div.image a {
    display: inline-block;
    width: 52px;
    /* background: red; */
    margin-right: 25px;
    border-radius: 50%;
}

div.bottom div.image a img {
    width: 100%;
}

div.bottom div.connectMe {
    font-size: 18px;
    font-weight: 400;
    color: rgba(140, 139, 158, 1);
    text-align: center;
    margin-top: 40px;
}

/*** bottom end ***/